<launch>
<include file="$(find triskarino_hw)/launch/lidar.launch"/>
<include file="$(find triskarino_hw)/launch/teleop.launch"/>

<node pkg="gmapping" type="slam_gmapping" name="gmapping_node" output="screen" >
    <rosparam command="load" file="$(find triskarino_navigation)/params/gmapping.yaml" />
    <remap from="scan" to="scan_filtered" />
</node>

</launch>