<?xml version="1.0"?>
<?sdf version="1.5"?>
<model>
  <name>triskarino_sdf</name>
  <version>1.0</version>
  <sdf>urdf/triskarino.sdf</sdf>
  <author>
    <name>Massimiliano Nigro</name>
    <email>massimiliano.nigro@mail.polimi.it</email>
  </author>
  <description>
    Model for triskarino robot. 
  </description>
</model>