<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find triskarino_description)/worlds/triskarino_planar.world"/>
    <arg name="verbose" value="true" />
    <!-- more default parameters can be changed here -->
  </include>
  <param name="robot_description" command="$(find xacro)/xacro $(find triskarino_description)/urdf/triskarino.urdf.xacro" />

  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model triskarino" />
</launch>