<launch>
  <param name="robot_description" command="$(find xacro)/xacro '$(find triskarino_description)/urdf/triskarino.urdf.xacro'" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
    <param name="publish_frequency" value="30"/>
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="rate" value="30"/>
  </node>
</launch>
