<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

<xacro:include filename="inertial_macros.xacro" />

<xacro:macro name="motor" params="name xyz rpy_joint rpy_link box_size parent color">
  <joint name="${name}_motor_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${rpy_joint}"/>
      <parent link="${parent}"/>
      <child link="${name}_motor_link"/>
  </joint>

  <link name="${name}_motor_link">
    <visual>
      <origin xyz="${xyz}" rpy="${rpy_link}"/>
      <geometry>
        <box size="${box_size}"/>
      </geometry>
      <material name="${color}"/>
    </visual>  
    <collision>
      <origin xyz="${xyz}" rpy="${rpy_link}"/>
      <geometry>
        <box size="${box_size}"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="${xyz}" rpy="${rpy_link}"/>
      <mass value="1"/>
      <inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
      </inertial>
      
  </link>


</xacro:macro>

    
</robot>