<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="open_base">

	<xacro:include filename="$(find triskarino_description)/urdf/rim.urdf.xacro"/>
	<xacro:include filename="$(find triskarino_description)/urdf/triskarino_cover.xacro"/>
    <xacro:include filename="$(find triskarino_description)/urdf/base.xacro"/>
    <link name="origin_link"/>
	
    
    <xacro:base 
        xyz="0 0 0.01905"
        scale="1 1 1"
        rpy="0 1 0"
        />


	<xacro:rim_macro
		name="left"
		color="0.3 0 0"
		xyz="-0.03464101615 0.02 0"
		rpy="1.570796326794896 0 1.047197551196597"/>
	<xacro:rim_macro
		name="back"
		color="0 0.3 0"
		xyz="0 -0.04 0"
		rpy="1.570796326794896 0 3.141592653589793"/>
	<xacro:rim_macro
		name="right"
		color="0 0 0.3"
		xyz="0.03464101615 0.02 0"
		rpy="1.570796326794896 0 -1.047197551196597"/>

    <xacro:cover 
        xyz="0 0 0"
        rpy ="0 0 0"
        scale="0.01 0.01 0.001"
        color="base_material"
        parent="base_link"
    />


	<gazebo reference="base_link">
    		<material>Gazebo/White</material>
  	</gazebo>

	<gazebo reference="rim_left_link">
    		<material>Gazebo/Red</material>
  	</gazebo>

	<gazebo reference="rim_back_link">
    		<material>Gazebo/Green</material>
  	</gazebo>

	<gazebo reference="rim_right_link">
    		<material>Gazebo/Blue</material>
  	</gazebo>
	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
		<robotNamespace>/open_base</robotNamespace>
		</plugin>
	</gazebo>
	
</robot>