<launch>

  <node pkg="triskarino_hw" type="teleop_manager.py" name="teleop_manager" output="screen" />
  <node pkg="triskarino_hw" type="odom_manager.py" name="odom_manager" output="screen" />
  <node pkg="rosserial_python" type="serial_node.py" name="serial_connection_arduino" args="-port /dev/ttyACM0 -baud 115200" output="screen" />

</launch>
