#!/usr/bin/env python3
PACKAGE = "triskarino_action_controller"


from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("min_bbox_area",    int_t,    0, "Min bbox area at which the robot starts chasing", 3000,  0, 200000)
gen.add("max_bbox_area",    int_t,    0, "Max bbox area before the robot starts backing away", 7000,  0, 200000)
gen.add("tolerance_angle",    int_t,    0, "Tolerance angle to consider the chasing obejct in the center", 20,  0, 30)
gen.add("linear_mov_starter", double_t, 0, "Linear movement starter value", 0.6, 0.0, 2.0)
gen.add("accel_linear_mov", double_t, 0, "Acceleration for linear movement", 1.03, 0.0, 2.0)
gen.add("decel_linear_mov", double_t, 0, "Deceleration for linear movement", 0.3, 0.0, 1.0)
gen.add("linear_mov_addition", double_t, 0, "Additional linear movement", 0.02, 0.0, 1.0)
gen.add("rotation_unknown_starter", double_t, 0, "Rotation unknown starter value", 0.02, 0.0, 0.5)
gen.add("rotation_starter", double_t, 0, "Rotation starter value", 0.01, 0.0, 0.5)
gen.add("rotation_increment", double_t, 0, "Rotation increment value", 0.002, 0.0, 1.0)
gen.add("decel_rot_movement", double_t, 0, "Deceleration for rotational movement", 0.04, 0.0, 1.0)


exit(gen.generate(PACKAGE, "dynamic_reconfigure_chase", "chase_reconfigure"))