#!/usr/bin/env python3
PACKAGE = "triskarino_action_controller"


from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("person_rot_angle",    int_t,    0, "Angle of rotation while looking for person", 20,  0, 60)
gen.add("random_rot_angle",    int_t,    0, "Angle of rotation while moving randomly", 20,  0, 60)
gen.add("mov_dist", double_t, 0, "Linear distance while pacing randomly", 0.5, 0.0, 2.0)
gen.add("lin_mov_max_speed", double_t, 0, "Max linear speed while pacing randomly", 0.2, 0.0, 1.0)
gen.add("person_rot_mov_max_speed", double_t, 0, "Max rot speed while looking for the person", 0.2, 0.0, 2.0)
gen.add("random_rot_mov_max_speed", double_t, 0, "Max rot speed while moving randomly", 0.2, 0.0, 2.0)


exit(gen.generate(PACKAGE, "dynamic_reconfigure_social_mov", "social_mov_reconfigure"))